body.page-edit-site #content-wrapper {
    padding: 10px 0 0;
}
.main-content-wrapper {
  display: flex;
  float: left;
  width: 100%;
}

.main-content-wrapper > .content-menu {
   width: 20%;
   float: left;
   display: block;
}
.main-content-wrapper > .content-main {
  width: 80%;
  float: left;
  display: block;
}
#main-wrapper {
     padding-left: 0px !important;
}
.side-menu__wrapper {
    border-right: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    width: 260px;
    height: 100%;
    float: left;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 66px;

}
.sidebar-menu__logo {
    padding: 20px 20px 20px 50px;
    font-size: 2rem;
    border-bottom: 1px solid #ddd;
}
#sidebar-menu__link {
  padding: 15px 15px 15px 25px;
  font-size: 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
}
#sidebar-menu__link a {
  color: #333;
}
#sidebar-menu__link:hover,
#sidebar-menu__link:focus {
  background: #f0f0f0;
  cursor: pointer;
}
#sidebar-menu__link.active {
  background: #e2e2e2;
}
#sidebar-menu__link a  i {
  margin-right: 10px;
}
.dashboard-wrapper {
  margin: 0 0 0 260px;
  padding: 10px;
  padding-right: 22px;
  padding-left: 22px;
  display: inline-block;
  width: calc(100% - 260px);
  height: 100%;
  /* overflow: auto; */
  background-color: #E9EBEE;
  padding-top: 66px;
}
.search__wrapper {
  display: block;
  float: right;
  width: 100%;
}
.theme-default {
    background: none !important;
}
.theme-default .page-header {
    background: transparent;
    border-color: transparent;
}
.page-header {
    background: #fafafa;
    border-bottom: 1px solid #e4e4e4;
    margin: -10px -18px 0px;
    padding: 20px 30px;
}