/* navbar */
#main-navbar .navbar-header {
    padding-left: 30px !important;
}
.theme-default #main-navbar .navbar {
    min-height: 44px !important;
}
.theme-default #main-navbar .navbar-primary {
    margin-bottom: 0;
    padding: 9.5px 0;
    border: 0;
    background-color: #205081;
    z-index: 10000;
}
.theme-default #main-navbar .navbar-primary .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
  .theme-default #main-navbar .navbar-collapse {
      border: none;
  }
}
.theme-default #main-navbar .navbar-collapse {
    border-top: 0px solid #f1f1f1;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.theme-default #main-navbar .navbar-header {
    background: none;
}
.theme-default #main-navbar .navbar-header  {
  border-right: 0;
  margin-top: 4px;
  padding: 10px 15px;
}
.theme-default #main-navbar .navbar-nav>li {
    border-right: 0px solid #f1f1f1;
}
.theme-default #main-navbar .navbar-nav>li>a {
    color: #fff;
}
#main-navbar .navbar-main>li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -8px;
  width: 1px;
  height: 21px;
  background: #1b446d;
}
#main-navbar .navbar-main .menu {
  margin-left: 8px !important;
  margin-right: 8px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  letter-spacing: 1px !important;
}
.theme-default #main-navbar .navbar-nav>li.active>a, .theme-default #main-navbar .navbar-nav>li.dropdown.open>a, .theme-default #main-navbar .navbar-nav>li>a:hover {
    background: none;
    border-top: none!important;
    border-bottom: none!important;
}
.navbar-nav>li>a.menu-campaign {
    border-radius: 3px;
    background-color: #35a31f;
}
.navbar-nav>li>a.menu-campaign:hover {
    background-color: #399228 !important;
}
.navbar-profile {
    position: relative;
    margin-left: 0;
    padding: 7px 10px 5px 5px;
}
.navbar-profile__greetings {
    float: left;
    margin-top: 6px;
    color: #FFF;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
