/* main side menu */
<<<<<<< HEAD
.main-menu-fixed #main-menu {
    height: 100%;
    margin: 0;
    position: fixed;
    padding-bottom: 0;
    width: 241px;
    background: #fff;
}

=======
>>>>>>> 9f6f689dcd9c26d66fddca854332914501d21d5c
.theme-default #main-menu-bg {
  background: #fff;
  -webkit-box-shadow: 2px 0 6px -3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 2px 0 6px -3px rgba(0, 0, 0, 0.46);
  box-shadow: 2px 0 6px -3px rgba(0, 0, 0, 0.46);
}
.theme-default #main-menu li.active>a .menu-icon {
    color: #555;
}
.theme-default #main-menu li:focus>a .menu-icon ,
.theme-default #main-menu li:hover>a .menu-icon {
    color: #333;
}
.theme-default #main-menu .mmc-dropdown-open-ul a:after, .theme-default #main-menu .navigation a:after {
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    right: auto;
    background: none;
    display: none;
    left: 0;
}
.theme-default #main-menu .mmc-dropdown-open-ul a, .theme-default #main-menu .navigation a {
    color: #333;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 13px 26px 13px 27px;
    border: 0px solid #dddddd;
    border-bottom: 1px solid #ddd;
}
.theme-default #main-menu li.active>a {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #555;
}
.theme-default #main-menu li:hover>a {
  text-decoration: none;
  background-color: #f0f0f0;
}
.theme-default #main-menu .mmc-dropdown-open-ul a:hover, .theme-default #main-menu .navigation a:hover {
    color: #333;
}
#main-menu .mmc-dropdown-open-ul, #main-menu .navigation {
    padding: 65px 0 0;
}
.theme-default #main-menu li .sidebar-menu__logo {
    border-bottom: 1px solid #ddd;
    color: #282828;
    font-size: 20px;
    padding: 1em 0em;
    text-align: center;
    font-weight: bold;
}
