body {
    /*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;*/
<<<<<<< HEAD
    /*padding-top: 65px;*/
=======
    padding-top: 65px;
>>>>>>> 9f6f689dcd9c26d66fddca854332914501d21d5c
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: .25px;
    background-color: #E9EBEE;
}
body.page-edit-site #content-wrapper {
    padding: 25px 0 0;
}
/* global  */
.icon-logo {
<<<<<<< HEAD
    display: inline;
    font-size: 26px;
    color: #205081;
    padding-right: 5px;
    vertical-align: middle;
=======
  display: inline;
  font-size: 26px;
  color: #205081;
  padding-right: 5px;
  vertical-align: top;
>>>>>>> 9f6f689dcd9c26d66fddca854332914501d21d5c
}
/* content wrapper */
#content-wrapper {
    left: 0;
<<<<<<< HEAD
    padding: 0;
    width: 100%;

=======
    padding: 64px 18px 18px;
    width: 100%;
    position: relative;
>>>>>>> 9f6f689dcd9c26d66fddca854332914501d21d5c
}
