/* Navbar */
.pagebuilder__header .navbar .navbar-brand {
	border-right: 0;
	margin-top: 4px;
    margin-left: 20px !important;
    padding: 10px 15px;
    width: 160px;
    height: auto;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.pagebuilder__header .navbar {
	min-height: 45px !important;
}
@media (min-width: 768px) {
	.pagebuilder__header .navbar {
		font-size: 14px;
		background-color: #205081;
		border: none;
		z-index: 20;
		color: #5d8397;
	}
}
.pagebuilder__header .navbar-primary {
	margin-bottom: 0;
	padding: 7.5px 0;
	/*padding: 9px 0;*/
	border: 0;
	background-color: #205081;
	z-index: 10000;
}
.pagebuilder__header .navbar-primary .menu {
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
}
.navbar-main li .menu:after  {
    content: '';
    position: absolute;
    left: -0.8rem;
    right: -0.8rem;
    height: 0.4rem;
    top: 5.3rem;
    background-color: transparent;
}
.navbar-main li.active .menu:after, .navbar-main li.active:hover .menu:after {
    background-color: #00bff3;
}
.navbar-main li:hover .menu:after {
    background-color: #0072bc;
}
.pagebuilder__header .navbar .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.pagebuilder__header .navbar-primary .menu:hover,
.pagebuilder__header .navbar-primary .menu.active {
	/*background-color: #38618C;*/
}
.pagebuilder__header .navbar-primary a {
	color: #FFF;
}
.pagebuilder__header .navbar-brand {
/*	padding: 11px 15px;
	width: 200px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: 5px;
	text-transform: uppercase;*/
	padding: 11px 15px;
	width: 200px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: 5px;
	text-transform: uppercase;
}
.pagebuilder__header .navbar-brand:hover {
	color: #FFF;
}
.pagebuilder__header .navbar-nav > li > a,
.pagebuilder__header .navbar-brand {
	height: 45px;
}
.pagebuilder__header .navbar {
	min-height:44px !important;
}
.pagebuilder__header .navbar-brand img {
	max-width: 100%;
	height: auto;
}
.pagebuilder__header .navbar-primary .open > a,
.pagebuilder__header .navbar-primary .open > a:focus,
.pagebuilder__header .navbar-primary .open > a:hover {
	background-color: #38618C;
	border-color: #38618C;
}
.pagebuilder__header .nav > li > a {
	padding: 11px 15px;
}
.pagebuilder__header .nav > li > a:focus,
.pagebuilder__header .nav > li > a:hover {
	text-decoration: none;
	background-color: inherit;
}
.pagebuilder__header .navbar-primary .menu-account {
	width: auto;
}
.pagebuilder__header .dropdown-menu {
	/*font-size: 1em;*/
	/*background: #FAFAFA;*/
	border-radius: 0;
	background: #FFF;
	border: 1px solid #aaa;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}
.pagebuilder__header .dropdown-menu > li > a {
	padding-top: 6px;
	padding-bottom: 6px;
}
.pagebuilder__header .dropdown-menu a {
	cursor: pointer;
}
.pagebuilder__header .dropdown-menu a.active {
	font-weight: bold;
	background: #e9ebee;
}
.pagebuilder__header .dropdown-menu-select {
	margin-top: 0;
	max-height: 180px;
	min-width: 64px;
	overflow: auto;
}
.pagebuilder__header .navbar-main {
	/*margin-left: 1em;*/
	margin-left: 8px;
	/*border-right: 1px solid #FFF;*/
}
.pagebuilder__header .navbar-form {
	margin-top: 7px;
	margin-bottom: 7px;
	border: 0;
	box-shadow: none;
}
.pagebuilder__header .navbar-form .form-control,
.pagebuilder__header .navbar-form .btn {
	line-height: 1;
}
.pagebuilder__header .navbar-form .form-control {
	border-right: 0;
	background: transparent;
}
.pagebuilder__header .navbar-form .btn {
	margin-left: 0 !important;
	color: #FFF !important;
	border-left: transparent;
	background: transparent;
}
.pagebuilder__header .pagebuilder__header .navbar-form .input {
	color: #FFF;
}
.pagebuilder__header .navbar-form .input:focus,
.pagebuilder__header .navbar-form .input:active {
	color: #333;
	background: #FFF;
}
.pagebuilder__header .navbar-form .input:focus ::-webkit-input-placeholder,
.pagebuilder__header .navbar-form .input:active ::-webkit-input-placeholder {
	color: #333;
}
.pagebuilder__header .navbar-form .input:focus ::-moz-placeholder,
.pagebuilder__header .navbar-form .input:active ::-moz-placeholder {
	color: #333;
}
.pagebuilder__header .navbar-form .input:focus :-ms-input-placeholder,
.pagebuilder__header .navbar-form .input:active :-ms-input-placeholder {
	color: #333;
}
.pagebuilder__header .navbar-form .input:focus :-moz-placeholder,
.pagebuilder__header .navbar-form .input:active :-moz-placeholder {
	color: #333;
}
.pagebuilder__header .navbar-toggle {
	margin-top: 5px;
	margin-bottom: 6px;
}
.pagebuilder__header .nav > li > a.menu-campaign:hover {
	background-color: #399228;
}
.pagebuilder__header .navbar-main .menu:hover {
	/* font-weight: bold; */
}
.pagebuilder__header .navbar-main .menu:before {
	content: '';
	position: absolute;
	 top: 11px;
	 top: 9px;
	 left: 0;
	left: -8px;
	width: 1px;
	height: 21px;
	background: #1b446d;
}
.pagebuilder__header .navbar-primary .menu:hover, .navbar-primary .menu.active {
	/* background-color: #38618C; */
}
.pagebuilder__header .navbar-nav > li > a.menu-campaign {
	top: 2px;
	padding-top: 9px;
	padding-bottom: 9px;
	height: 38px;
	border-radius: 3px;
	background-color: #35a31f;
}
.pagebuilder__header .nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: inherit;
}
.pagebuilder__header .nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}
.pagebuilder__header .navbar-main .menu {
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 1px;
}
.pagebuilder__header .navbar-primary .menu {
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
}
.pagebuilder__header .navbar-main > li > a, .subheader .nav > li > a {
	padding: 12px 18px;
}
.pagebuilder__header .navbar-primary .open > a, .navbar-primary .open > a:focus, .navbar-primary .open > a:hover {
	background-color: #38618C;
	border-color: #38618C;
}
.pagebuilder__header .mega-menu {
	position: fixed;
	top: 55px;
	left: 0;
	width: 100%;
	padding: 0;
}
.pagebuilder__header .dropdown-menu {
	/* font-size: 1em; */
	/* background: #FAFAFA; */
	border-radius: 0;
	background: #FFF;
	border: 1px solid #aaa;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}
.pagebuilder__header .mega-menu > li > a, .mega-menu .tools-menu {
	padding: 15px 20px;
	line-height: 30px;
	border: 1px solid #ddd;
	border-left: 0;
	border-top: 0;
	color: #333;
}
.pagebuilder__header .tools-menu .icon {
	position: relative;
	top: 4px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	color: #205081;
	font-size: 20px;
	line-height: 1;
}

.pagebuilder__header .icon {
	display: inline-block;
}
.pagebuilder__header .dropdown-menu > li > a {
	padding-top: 6px;
	padding-bottom: 6px;
	color: #333;
}
.pagebuilder__header .mega-menu > li > a {
	padding: 15px 20px;
}
.pagebuilder__header .coming-soon-label {
	position: relative;
	margin-left: 6px;
	padding: 4px 7px;
	color: #fff;
	border-radius: 3px;
	background: #b9b9b9;
	font-size: 12px;
	line-height: 12px;
}
.pagebuilder__header .btn .coming-soon-label {
	top: -1px;
}
.pagebuilder__header .mega-menu li {
	float: left;
	width: 25%;
}
.pagebuilder__header .navbar-profile {
	position: relative;
	margin-left: 12px;
	padding: 7px 10px 5px 5px;
}
.pagebuilder__header .navbar-profile__image {
	float: left;
	width: 32px;
	height: 32px;
	background: #FFF;
	border-radius: 1px;
	border: 1px solid #fff;
}
.pagebuilder__header .navbar-profile__greetings {
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	color: #FFF;
}
.pagebuilder__header .navbar-profile__image img {
	width: 100%;
	height: auto;
}
.pagebuilder__header .navbar-profile__greetings {
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	color: #FFF;
}
.pagebuilder__header .notification-item {
	width: 50px;
	float: left;
}
.pagebuilder__header .navbar-notification {
	margin-right: 17px !important;
}
.pagebuilder__header .navbar-notification .icon {
	position: relative;
	top: 2px;
	width: 20px;
	height: 20px;
	font-size: 19px;
}
.pagebuilder__header .navbar-notification .menu:before {
	content: '';
	position: absolute;
	top: 11px;
	right: 0;
	width: 1px;
	height: 21px;
	background: #1b446d;
}
.pagebuilder__header .subheader__ad-accounts {
/*    float: left;
	margin-left: -15px;
	padding: 7px 15px;*/
	float: left;
	margin-left: -15px;
	padding: 7px 15px;
	width: 100%;
	display: block;
	min-width: 250px;
	height: 47px;
}
/* Select2 */
.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative !important;
	vertical-align: middle;
}
.select2-container--subheader {
	top: 0 !important;
	left: 0 !important;
}
.select2-container--subheader .select2-selection--single {
	position: relative;
	/*padding: 8px 15px;*/
	padding: 0 15px;
	min-width: 220px;
	height: auto;
	border-radius: 2px;
	color: #FFF;
	font-size: 13px;
	border: 1px solid #FFF;
}
.select2-container--subheader .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
	/*line-height: 1;*/
	line-height: 31px;
}
.select2-container--subheader .select2-selection--single .select2-selection__arrow,
.select2-container--flat .select2-selection--single .select2-selection__arrow {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 30px;
	height: 100%;
}
.select2-container--subheader .select2-selection--single .select2-selection__arrow b,
.select2-container--flat .select2-selection--single .select2-selection__arrow b {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #888 transparent transparent transparent;
}
.select2-container--subheader .select2-selection--single .select2-selection__arrow b {
	border-color: #FFF transparent transparent transparent;
}
.select2-container--subheader.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--flat.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px;
}
.select2-dropdown {
	/*top: 1px;*/
	border-radius: 0;
}
.select2-container--open .select2-dropdown--below {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -10px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	padding-left: 0px;
	padding-right: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.select2-container--subheader .select2-dropdown {
	width: 325px !important;
	color: #333;
	border-radius: 2px;
	border-top: 1px solid #aaa;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}
.select2-container--subheader .select2-results__options {
	max-height: 330px;
	overflow: auto;
}
.select2-dropdown {
	border: 1px solid #CCC;
	border-radius: 2px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}
.select2-search--dropdown {
	padding: 10px!important;
	border-bottom: 1px solid #ddd;
}
.select2-search--dropdown .select2-search__field {
	padding: 4px 7px;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.select2-results__option {
	padding: 10px;
	font-size: 13px;
}
.select2-selection:focus {
	outline: none;
	border-color: #66afe9;
}
.select2-container--subheader .select2-results__option {
	padding: 15px;
	color: #333;
}
.select2-container--subheader .select2-results__option--highlighted,
.select2-container--subheader .select2-results__option--highlighted[aria-selected] {
	color: #333;
	background-color: #eee;
}
.select2-container--subheader .select2-results__option[aria-selected=true] {
	background-color: #edf2fa;
}
.select2-container--subheader .select2-results__option--highlighted:hover {
	background-color: rgba(29, 33, 41, .04);
}
.select2-container--flat .select2-results__option {
	padding: 10px 20px;
}
.select2-container--flat .select2-selection--single {
	padding: 6px;
	height: auto;
}
.select2-container--flat .select2-results__option:hover {
	background-color: rgba(29, 33, 41, .04);
}
.select2-container--flat .select2-results__option[aria-selected=true] {
	font-weight: bold;
	background-color: #edf2fa;
}
.select2-container.select2-container--default {
	width: 100% !important;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	position: relative;
	border-radius: 2px;
	border: 1px solid #ccc;
}
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #66afe9;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 0;
	right: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	padding: 1px 7px;
	border: 0;
	border-radius: 2px;
}
.select2-container--default .select2-search--inline .select2-search__field {
	margin-top: 6px;
	margin-bottom: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	float: right;
	margin: 0;
	margin-left: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding-right: 75px;
	padding-left: 7px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: inherit;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	color: #333;
	background-color: #f5f5f5;
}
.select2-container .select2-search--inline {
	width: 100%;
}
.select2-container .select2-search--inline .select2-search__field {
	width: 100% !important;
}
.select2-container .select2-selection__choice + .select2-search--inline {
	width: auto;
}
.select2-container .select2-selection__choice + .select2-search--inline .select2-search__field {
	width: inherit;
}
.select2-results__message {
	display: none !important;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
	border-color: #cccccc #c5c6c8 #b6b7b9;
}
.pagebuilder__header .navbar .navbar-right {
	/*height: auto;
	float: right!important;*/
}
.navbar-side {
	height: 45px !important;
}
.navbar-side .dropdown-menu {
	position: absolute;
}
