#app-props, #app-props.app-ie .panel-body, #app-props.app-ie .list-group > a, #app-props.app-ie .panel-default > .panel-heading {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
<<<<<<< HEAD
    color: #555 !important;
}
#app-props.app-ie .panel-default > .panel-heading {
    margin-bottom: 0;
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
#app-props .panel-title a, #app-props .panel-title a:visited, #app-props .panel-title a:hover, #app-props .panel-title a:active, #app-props .list-group .list-group-item:hover, #app-props .list-group .list-group-item:active, #app-props .list-group .list-group-item.active {
    color: #555 !important;
}
.sidebar-menu__logo {
    padding: 20px 20px 20px 50px;
    font-size: 2rem;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background: #fff;
    width: 266px;
    margin-top: -5px;
}
#blocks {
    height: 100%;
    float: left;
    display: block;
    width: 80%;
    position: absolute;
    right: 0;
    transform: scale(1);
    padding-top: 54px;
}
#app-props {
    width: 20%;
    /* width: 310px; */
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    position: fixed;
    height: 100%;
    bottom: 0;
    top: 35px;
    left: 0;
    z-index: 10000000;
    float: left;
    display: block;
    /* pointer-events: none; */
    border-left: 0px solid #1e2026;
    -webkit-transform: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: inset 6px 0px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 6px 0px 5px 0px rgba(0,0,0,0.7);
    box-shadow: inset 6px 0px 5px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    transition: height 0.15s ease-out;
    transition: width 0.10s ease-out;
}
#app-props .panel-group {
    margin-top: 70px;
}
=======
    color: #ccc !important;
}
>>>>>>> 9f6f689dcd9c26d66fddca854332914501d21d5c
